Thunar*/
Postman*/
dconf*/
systemd*/
Android*/
Vencord*/
arkrc*
discord*/
Discord*/
envman*/
kdeglobals*
doxygen*/
vlc*/
pulse*/
obs*/
GIMP*/
heroic*/
Google*/
balenaEtcher*/
blender*/
inkscape*/
spotify*/
spicetify*/
xfce4*/
Code*/
chromium*/
Brave*/
Ryujinx*/
tmux/plugins*/
rlone*/
rstudio*/
go*/
CurseForge/
GeForce*/
.avalonia*/
scc/
menus/
input-remapper-2/
_*
__*

