/*
@import "catppuccin/mocha.css";
*/

/*
* Catppuccin Mocha palette
*/

@define-color cbase #1e1e2e;
@define-color cmantle #181825;
@define-color ccrust #11111b;

@define-color ctext #cdd6f4;
@define-color csubtext0 #a6adc8;
@define-color csubtext1 #bac2de;

@define-color csurface0 rgba(22, 25, 37, 0.9);
@define-color csurface1 #45475a;
@define-color csurface2 #585b70;
@define-color csurface3 #394161;

@define-color coverlay0 #6c7086;
@define-color coverlay1 #7f849c;
@define-color coverlay2 #9ba3c3;

@define-color cblue #89b4fa;
@define-color clavender #b4befe;
@define-color csapphire #74c7ec;
@define-color csky #89dceb;
@define-color cteal #94e2d5;
@define-color cgreen #a6e3a1;
@define-color cyellow #f9e2af;
@define-color cpeach #fab387;
@define-color cmaroon #eba0ac;
@define-color cred #f38ba8;
@define-color cmauve #cba6f7;
@define-color cpink #f5c2e7;
@define-color cflamingo #f2cdcd;
@define-color crosewater #f5e0dc;

/*
* Dracula Palette
*/

@define-color dbg #282a36;
@define-color dfg #f8f8f2;
@define-color dselection #44475a;
@define-color dcomment #6272a4;
@define-color dred #ff5555;
@define-color dorange #ffb86c;
@define-color dyellow #f1fa8c;
@define-color dgreen #50fa7b;
@define-color dpurple #bd93f9;
@define-color dblack #191a21;
@define-color dcyan #8be9fd;
@define-color dpink #ff79c6;
@define-color dbred #ff6e6e;
@define-color dbgreen #69ff94;
@define-color dbyellow #ffffa5;
@define-color dbpurple #d6acff;
@define-color dbpink #ff92df;
@define-color dbcyan #a4ffff;
@define-color dbwhite #ffffff;

/*
* Rose Pine Palette
*/

@define-color rbase #232136;
@define-color rsurface #2a273f;
@define-color roverlay #393552;
@define-color rmuted #6e6a86;
@define-color rsubtle #908caa;
@define-color rtext #e0def4;
@define-color rlove #eb6f92;
@define-color rgold #f6c177;
@define-color rrose #ea9a97;
@define-color rpine #3e8fb0;
@define-color rfoam #9ccfd8;
@define-color riris #c4a7e7;

/*
* Active Palette
*/

@define-color module_background @rbase;
@define-color textColor @rtext;
@define-color textColorDark @rbase;
@define-color powerIcon @rlove;
@define-color workspacegradient1 @rtext;
@define-color workspacegradient2 @rfoam;
@define-color workspacegradient3 @rpine;
@define-color workspacegradient4 @rfoam;
@define-color workspacegradient5 @rtext;
@define-color workspacegradient6 @riris;
@define-color workspaceInactive @rmuted;
@define-color cpuModule @rpine;
@define-color memModule @rfoam;
@define-color tempModule @rgold;
@define-color storageModule @rrose;
@define-color updatesModule @riris;
@define-color brightnessModule @rfoam;
@define-color batteryModule @rpine;
@define-color batteryModuleCharging @rfoam;
@define-color batteryModuleWarning @rgold;
@define-color batteryModuleCritical @rlove;
@define-color systrayModule @rtext;
@define-color inputModule @rtext;
@define-color volumeModule @rlove;
@define-color notificationsModule @rrose;
@define-color clockModule @riris;

/* =============================== */
/* Universal Styling */
* {
  border: none;
  border-radius: 0;
  font-family: 'UbuntuMono Nerd Font', monospace;
  font-size: 13px;
  min-height: 0;
}

/* =============================== */


/* =============================== */
/* Bar Styling */
#waybar {
  background: transparent;
  color: @textColor;
}


/* =============================== */


/* =============================== */
/* Main Modules */
#custom-launcher,
#workspaces,
#language,
#window,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#network,
#mpd,
#cpu,
#memory,
#disk,
#temperature,
#custom-music,
#custom-updates,
#custom-nordvpn,
#custom-notifications,
#custom-power,
#custom-custom,
#custom-cycle_wall,
#custom-clipboard,
#custom-ss,
#custom-weather {
  background-color: @module_background;
  color: @textColor;
  border-radius: 16px;
  padding: 0.5rem 1rem;
  /* box-shadow: rgba(0, 0, 0, 0.116) 2px 2px 5px 2px; */
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  margin-left: 5px;
}

/* =============================== */
/* Launcher Module */
#custom-launcher {
  color: @green;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 10px;
}

/* =============================== */
/* Workspaces */
#workspaces {
  padding-left: 4px;
  padding-right: 4px;
}

#workspaces * {
  font-size: 20px;
  font-family: "UbuntuMono Nerd Font Mono";
  font-weight: bold;
  color: @textColorDark;
}

#workspaces button {
  background-color: @workspaceInactive;
  border-radius: 100%;
  /* font-family: "Font Awesome 6"; */
  min-height: 14px;
  min-width: 14px;
  margin: 1px 6px;
  padding: 0px 4px;
  transition: all 0.5s cubic-bezier(0.33, 1.0, 0.68, 1.0);
  /* easeInOutCubic  */
  /* transition: all 0.5s cubic-bezier(.55, -0.68, .48, 1.68); */
  /* box-shadow: rgba(0, 0, 0, 0.288) 2px 2px 5px 2px; */
  box-shadow: inset @module_background 0px 0px 2px 1px;
}

#workspaces button.active {
  border-radius: 1rem;
  padding: 0px 12px;
  /* background: radial-gradient(circle, rgba(203, 166, 247, 0) 0%, rgba(193, 168, 247, 1) 12%, rgba(249, 226, 175, 1) 19%, rgba(189, 169, 247, 1) 20%, rgba(182, 171, 247, 1) 24%, rgba(198, 255, 194, 1) 36%, rgba(177, 172, 247, 1) 37%, rgba(170, 173, 248, 1) 48%, rgba(255, 255, 255, 1) 52%, rgba(166, 174, 248, 1) 52%, rgba(160, 175, 248, 1) 59%, rgba(148, 226, 213, 1) 66%, rgba(155, 176, 248, 1) 67%, rgba(152, 177, 248, 1) 68%, rgba(205, 214, 244, 1) 77%, rgba(148, 178, 249, 1) 78%, rgba(144, 179, 250, 1) 82%, rgba(180, 190, 254, 1) 83%, rgba(141, 179, 250, 1) 90%, rgba(137, 180, 250, 1) 100%); */
  background: radial-gradient(circle, @workspacegradient1 0%, @workspacegradient2 20%, @workspacegradient3 40%, @workspacegradient4 60%, @workspacegradient5 80%, @workspacegradient6 100%); /* 0,12,19,20,24,36,37,48,52,,*/
  background-size: 400% 400%;
  animation: gradient_f 20s ease-in-out infinite;
  transition: all 0.3s cubic-bezier(.55, -0.68, .48, 1.682);
}

#workspaces button:hover {
  background: radial-gradient(circle, @workspacegradient1 0%, @workspacegradient2 20%, @workspacegradient3 40%, @workspacegradient4 60%, @workspacegradient5 80%, @workspacegradient6 100%); /* 0,12,19,20,24,36,37,48,52,,*/
  background-size: 400% 400%;
  animation: gradient_f 20s ease-in-out infinite;
  transition: all 0.3s cubic-bezier(.55, -0.68, .48, 1.682);
  /* background-color: @dbpink; */
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 30%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient_f {
  0% {
    background-position: 0% 200%;
  }

  50% {
    background-position: 200% 0%;
  }

  100% {
    background-position: 400% 200%;
  }
}

@keyframes gradient_f_nh {
  0% {
    background-position: 0% 200%;
  }

  100% {
    background-position: 200% 200%;
  }
}

#language {
  color: @inputModule;
  font-size: 15px;
  font-family: "UbuntuMono Nerd Font";
  font-weight: bold;
  padding-right: 1.25rem;
  padding-bottom: 8px;
  margin-left: 0px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* =============================== */


/* =============================== */
/* System Monitoring Modules */

#cpu {
  color: @cpuModule;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: 0px;
  padding-right: 5px;
}

#memory {
  color: @memModule;
  border-radius: 0px;
  margin-right: 0px;
  margin-left: 0px;
  padding-left: 5px;
  padding-right: 5px;
}

#temperature {
  color: @tempModule; 
  border-radius: 0px;
  margin-right: 0px;
  margin-left: 0px;
  padding-left: 5px;
  padding-right: 5px;
}

#disk {
  color: @storageModule;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: 0px;
  padding-left: 5px;
  padding-right: 1rem;
}

/* Updates Module */
#custom-updates {
  color: @updatesModule;
}

/* =============================== */


/* =============================== */
/* Clock Module */
#clock {
  color: @clockModule;
}

/* =============================== */


#custom-music.low {
  /* background: rgb(148, 226, 213); */
  background: radial-gradient(circle, @workspacegradient1 0%, @workspacegradient2 20%, @workspacegradient3 40%, @workspacegradient4 60%, @workspacegradient5 80%, @workspacegradient6 100%); /* 0,12,19,20,24,36,37,48,52,,*/
  background-size: 300% 300%;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.377);
  animation: gradient 15s ease infinite;
  font-weight: bold;
  color: @textColor;
}

#custom-music.random {
  /* background: rgb(148, 226, 213); */
  background: linear-gradient(52deg, rgba(148, 226, 213, 1) 0%, rgba(137, 220, 235, 1) 19%, rgba(116, 199, 236, 1) 43%, rgba(137, 180, 250, 1) 56%, rgba(180, 190, 254, 1) 80%, rgba(186, 187, 241, 1) 100%);
  background-size: 400% 400%;
  animation: gradient_f 4s ease infinite;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.377);
  font-weight: bold;
  color: @textColor;
}

#custom-music.critical {
  /* background: rgb(235, 160, 172); */
  background: radial-gradient(circle, rgba(148, 226, 213, 1) 0%, rgba(156, 227, 191, 1) 21%, rgba(249, 226, 175, 1) 34%, rgba(158, 227, 186, 1) 35%, rgba(163, 227, 169, 1) 59%, rgba(148, 226, 213, 1) 74%, rgba(164, 227, 167, 1) 74%, rgba(166, 227, 161, 1) 100%);
  background-size: 300% 300%;
  animation: gradient 15s cubic-bezier(.55, -0.68, .48, 1.68) infinite;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.377);
  font-weight: bold;
  color: @textColor;
}

#custom-music.Playing {
  /* background: rgb(137, 180, 250); */
  background: linear-gradient(52deg, rgba(235, 160, 172, 1) 0%, rgba(243, 139, 168, 1) 30%, rgba(231, 130, 132, 1) 48%, rgba(250, 179, 135, 1) 77%, rgba(249, 226, 175, 1) 100%);
  background-size: 400% 400%;
  animation: gradient_f 9s cubic-bezier(.72, .39, .21, 1) infinite;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.377);
  font-weight: bold;
  color: @textColor;
}

#custom-music.Paused,
#custom-music.Stopped {
  background: @module_background;
}


/* =============================== */
/* Music/PlayerCTL Module */
#custom-music {
  color: @module_background;
}

/* =============================== */


/* =============================== */
/* Network Module */
#network {
  color: @dblue;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: 0px;
  padding-right: 5px;
}

/* =============================== */


/* =============================== */
/* PulseAudio Module */
#pulseaudio {
  color: @volumeModule;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: 0px;
  padding-left: 1.25rem;
  padding-right: 10px;
}

/* =============================== */


/* =============================== */
/* Backlight Module */
#backlight {
  color: @brightnessModule;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: 0;
  padding-left: 1.25rem;
  padding-right: 5px;
}

/* =============================== */


/* =============================== */
/* Battery Module */
#battery {
  color: @batteryModule;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left:0 ;
  padding-left: 5px;
  padding-right: 1.25rem;
}

#battery.charging {
  color: @batteryModule;
}

#battery.warning:not(.charging) {
  color: @batteryModuleWarning;
}

#battery.critical:not(.charging) {
  color: @module_background;
  animation-name: blink;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  to {
    background: @batteryModuleCritical;
  }
}

/* =============================== */

/* Notifications Module */
#custom-notifications {
  color: @notificationsModule;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: 0;
  padding-left: 10px;
  padding-right: 1.25rem;
}


/* =============================== */
/* Tray Module */
#tray {
  color: @systrayModule;
  padding-right: 0px;
  margin-right: 0px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

/* =============================== */


/* =============================== */
/* |       Custom Modules        | */
/* =============================== */
#custom-custom {
  color: @dorange;
  padding-right: 1.25rem;
  margin-right: 0px;
}

/* Screenshot */
#custom-ss {
  color: @dbpurple;
  padding-right: 1.5rem;
}

/* Wallpaper */
#custom-cycle_wall {
  background: linear-gradient(45deg, rgba(245, 194, 231, 1) 0%, rgba(203, 166, 247, 1) 0%, rgba(243, 139, 168, 1) 13%, rgba(235, 160, 172, 1) 26%, rgba(250, 179, 135, 1) 34%, rgba(249, 226, 175, 1) 49%, rgba(166, 227, 161, 1) 65%, rgba(148, 226, 213, 1) 77%, rgba(137, 220, 235, 1) 82%, rgba(116, 199, 236, 1) 88%, rgba(137, 180, 250, 1) 95%);
  background-size: 500% 500%;
  animation: gradient 7s linear infinite;
}

/* Notifications Module */
#custom-clipboard {
  color: @notificationsModule;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: 0px;
  padding-right: 8px;
}

/* Powermenu Module */
#custom-power {
  color: @powerIcon;
  /* border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding-left: 8px; */
  padding-right: 1.20rem;
}

/* =============================== */
