@import url('./colors-waybar.css');

* {
    font-size: 15px;
    font-family: "UbuntuMono Nerd Font Mono";
}
window#waybar{
    all:unset;
}
.modules-left {
    padding:7px;
    margin:10px 0px 5px 30px;
    border-radius:10px;
    background: alpha(@background,.7);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
}
.modules-center {
    padding:7px;
    margin:10px 0px 5px 0px;
    border-radius:10px;
    background: alpha(@background,.7);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
}
.modules-right {
    padding:7px;
    margin: 10px 30px 5px 0px;
    border-radius:10px;
    background: alpha(@background,.7);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
}
tooltip {
  background:@background;
  color: @foam;
}
#custom-notification {
    font-family: "UbuntuMono Nerd Font";
    padding: 0px 5px;
    transition: all .3s ease;
    color:@rose;
}
#custom-monitor.left{
  color: @iris;
  font-family: "UbuntuMono Nerd Font";
  padding: 0px 4px 0px 4px;
}
#custom-monitor.right{
  color: @iris;
  font-family: "UbuntuMono Nerd Font";
  padding: 0px 7px 0px 4px;
}
#custom-submap {
  font-family: "UbuntuMono Nerd Font";
  font-size: 18px;
  padding: 0px 12px 0px 10px;
  font-weight: 600;
  color: @iris;
}
#clock{
    font-family: "UbuntuMono Nerd Font";
    font-weight: 600;
    padding: 0px 0px 0px 5px;
    color:@nature;
    transition: all .3s ease;
}
#clock:hover{
    transition: all .3s ease;
    color:@foam;
}
#custom-pacman{
    font-family: "UbuntuMono Nerd Font";
    padding: 0px 5px;
    transition: all .3s ease;
    color: alpha(@foreground, .6);

}
#custom-pacman:hover{
    transition: all .3s ease;
    color:@rose;
}
#workspaces {
    padding: 0px 5px;
}
#workspaces button {
    all:unset;
    padding: 0px 5px;
    color: alpha(@iris,.4);
    transition: all .2s ease;
}
#workspaces button:hover {
    color:rgba(0,0,0,0);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .5);
    transition: all 1s ease;
}
#workspaces button.active {
    color: @iris;
    border: none;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}
#workspaces button.empty {
    color: rgba(0,0,0,0);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .2);
}
#workspaces button.empty:hover {
    color: rgba(0,0,0,0);
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .5);
    transition: all 1s ease;
}
#workspaces button.empty.active {
    color: @iris;
    border: none;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}
#language {
  font-family: "UbuntuMono Nerd Font";
  font-weight: 600;
  padding: 0px 5px;
  color: @rose;
}
#pulseaudio {
  padding: 0px 10px;
  font-family: "UbuntuMono Nerd Font";
  font-weight: 600;
  color: @pine;
}
#pulseaudio-slider slider{
  min-width: 12px;
  min-height: 12px;
  border: solid alpha(@background, .8) .5px;
  background-color: @pine;
}
#pulseaudio-slider trough{
  min-width: 80px;
  min-height: 5px;
  background-color: alpha(@pine, .6);
}
#pulseaudio-slider highlight{
  min-width: 10px;
  min-height: 5px;
  background-color: @pine;
}
#battery{
    font-family: "UbuntuMono Nerd Font";
    font-weight: 600;
    padding: 0px 10px;
    transition: all .3s ease;
    color:@nature;
}
#battery.charging {
    color: @foam;
}

#battery.warning:not(.charging) {
    color: @gold;
}

#battery.critical:not(.charging) {
    color: @love;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#custom-icon {
  font-family: "UbuntuMono Nerd Font";
  padding: 0px 10px 0px 0px;
  color: @pine;
}
#cpu,#memory,#temperature, #disk{
    font-family: "UbuntuMono Nerd Font";
    padding: 0px 5px;
    transition: all .3s ease; 
    color:alpha(@foam, .8);
}
#tray{
    opacity: .6;
    padding: 0px 5px;
    transition: all .3s ease; 

}
#tray menu * {
    padding: 0px 5px;
    transition: all .3s ease; 
}

#tray menu separator {
    padding: 0px 5px;
    transition: all .3s ease; 
}
