[Unit]
Description=Kanata keyboard remapper
Documentation=https://github.com/jtroo/kanata
Requires=local-fs.target
After=local-fs.target

[Service]
Type=simple
ExecStart=/usr/bin/kanata --cfg /etc/kanata/config.kbd
Restart=never

[Install]
WantedBy=sysinit.target
